.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.093262;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.104004;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-127.937600px;}
._1{margin-left:-94.681600px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:19.680000px;}
.fs1{font-size:24.000000px;}
.fs7{font-size:26.400000px;}
.fs6{font-size:29.760000px;}
.fs4{font-size:31.680000px;}
.fs8{font-size:33.120000px;}
.fs2{font-size:35.520000px;}
.fs5{font-size:39.840000px;}
.fs0{font-size:47.520000px;}
.y59{bottom:0.750000px;}
.y4f{bottom:1.597600px;}
.y5b{bottom:1.597700px;}
.y18{bottom:1.748600px;}
.y19{bottom:1.748700px;}
.y6{bottom:1.982300px;}
.ya{bottom:1.982400px;}
.yc{bottom:2.605200px;}
.y8{bottom:2.605300px;}
.y16{bottom:5.136200px;}
.y4d{bottom:5.250800px;}
.y2b{bottom:5.759100px;}
.y44{bottom:6.109500px;}
.y3c{bottom:6.537800px;}
.y32{bottom:6.537900px;}
.y23{bottom:6.888300px;}
.y51{bottom:12.816600px;}
.y69{bottom:26.698300px;}
.y79{bottom:28.581200px;}
.y14{bottom:28.832200px;}
.y30{bottom:30.584300px;}
.y74{bottom:35.865700px;}
.y0{bottom:42.000000px;}
.y4{bottom:44.796400px;}
.y49{bottom:55.500000px;}
.y78{bottom:56.942800px;}
.y37{bottom:66.780100px;}
.y48{bottom:68.685900px;}
.y57{bottom:72.443100px;}
.y7e{bottom:76.332900px;}
.y36{bottom:77.797000px;}
.y47{bottom:86.908000px;}
.y1d{bottom:90.608900px;}
.y7d{bottom:102.774000px;}
.y46{bottom:105.130000px;}
.y43{bottom:114.241100px;}
.y45{bottom:123.352100px;}
.y7c{bottom:125.689500px;}
.y42{bottom:132.463100px;}
.y7b{bottom:133.328100px;}
.y41{bottom:150.685200px;}
.y7a{bottom:153.893400px;}
.y77{bottom:161.531900px;}
.y76{bottom:174.458700px;}
.y40{bottom:180.120800px;}
.y75{bottom:182.097300px;}
.y73{bottom:189.735900px;}
.y3f{bottom:198.342800px;}
.y3e{bottom:207.453800px;}
.y3b{bottom:216.564900px;}
.y3d{bottom:225.675900px;}
.y3a{bottom:234.786900px;}
.y39{bottom:243.897900px;}
.y38{bottom:270.530100px;}
.y2f{bottom:279.641200px;}
.y35{bottom:294.358900px;}
.y34{bottom:320.290300px;}
.y31{bottom:329.401300px;}
.y68{bottom:337.805800px;}
.y33{bottom:338.512300px;}
.y72{bottom:345.444400px;}
.y1c{bottom:347.623300px;}
.y71{bottom:353.082900px;}
.y70{bottom:360.721400px;}
.y2e{bottom:363.042000px;}
.y6f{bottom:375.998400px;}
.y6a{bottom:383.637000px;}
.y2d{bottom:393.178400px;}
.y6e{bottom:396.563700px;}
.y6d{bottom:404.202200px;}
.y2a{bottom:407.896200px;}
.y2c{bottom:417.007300px;}
.y6c{bottom:417.129000px;}
.y29{bottom:425.417400px;}
.y6b{bottom:437.694300px;}
.y56{bottom:447.095500px;}
.y28{bottom:447.844500px;}
.y67{bottom:461.197400px;}
.y66{bottom:468.836000px;}
.y27{bottom:477.981000px;}
.y65{bottom:483.525400px;}
.y26{bottom:502.510700px;}
.y64{bottom:505.853500px;}
.y5f{bottom:513.492000px;}
.y25{bottom:513.724200px;}
.y22{bottom:524.937800px;}
.y63{bottom:528.769100px;}
.y24{bottom:534.048800px;}
.y62{bottom:536.407600px;}
.y21{bottom:543.860700px;}
.y61{bottom:550.509500px;}
.y20{bottom:557.877600px;}
.y1f{bottom:572.595400px;}
.y60{bottom:572.837500px;}
.y58{bottom:580.476000px;}
.y1e{bottom:588.014100px;}
.y5e{bottom:593.402800px;}
.y13{bottom:597.125100px;}
.y5d{bottom:601.041300px;}
.y1b{bottom:612.543700px;}
.y5c{bottom:613.968100px;}
.y5a{bottom:634.533300px;}
.y1a{bottom:637.073400px;}
.y50{bottom:642.171900px;}
.y15{bottom:646.184400px;}
.y17{bottom:654.594600px;}
.y55{bottom:655.098600px;}
.y3{bottom:661.603000px;}
.y54{bottom:675.076300px;}
.y12{bottom:677.021700px;}
.y53{bottom:695.641600px;}
.y11{bottom:701.551400px;}
.y52{bottom:715.619300px;}
.y4c{bottom:722.670200px;}
.y10{bottom:726.081000px;}
.y4e{bottom:735.597000px;}
.yf{bottom:750.610700px;}
.ye{bottom:759.721700px;}
.yd{bottom:772.337000px;}
.yb{bottom:781.448000px;}
.y9{bottom:796.866600px;}
.y7{bottom:805.977600px;}
.y4b{bottom:811.479500px;}
.y2{bottom:814.754500px;}
.y5{bottom:821.396300px;}
.y4a{bottom:823.818700px;}
.y1{bottom:829.472300px;}
.hb{height:6.508400px;}
.h18{height:6.508500px;}
.h28{height:6.550900px;}
.h29{height:6.551000px;}
.h25{height:7.138500px;}
.h2d{height:7.138600px;}
.h1b{height:7.910100px;}
.hd{height:7.910200px;}
.h5{height:8.611000px;}
.h1c{height:8.611100px;}
.h35{height:8.901200px;}
.h14{height:9.311900px;}
.h16{height:10.713500px;}
.h15{height:10.713600px;}
.h9{height:12.115300px;}
.h2e{height:12.426800px;}
.h12{height:13.516900px;}
.h30{height:13.601900px;}
.h32{height:14.189400px;}
.h11{height:14.217800px;}
.h17{height:14.217900px;}
.h8{height:14.918600px;}
.h6{height:14.918700px;}
.h1a{height:17.021200px;}
.h19{height:17.268047px;}
.hc{height:17.479453px;}
.h20{height:17.722000px;}
.h1e{height:17.722100px;}
.h13{height:18.422900px;}
.h24{height:20.065300px;}
.h10{height:21.058594px;}
.h4{height:21.316406px;}
.h2b{height:23.448047px;}
.h27{height:26.432344px;}
.hf{height:28.137656px;}
.h39{height:29.416641px;}
.h7{height:31.166719px;}
.h23{height:34.957266px;}
.h2{height:41.696016px;}
.h36{height:45.331200px;}
.h2c{height:61.195900px;}
.h34{height:62.958500px;}
.ha{height:63.977900px;}
.h31{height:65.896500px;}
.h2f{height:66.484000px;}
.h1d{height:67.482200px;}
.h26{height:79.998300px;}
.h38{height:104.089100px;}
.h33{height:108.789700px;}
.h37{height:147.569900px;}
.h3{height:168.404300px;}
.h2a{height:194.576400px;}
.h1f{height:201.344200px;}
.he{height:249.001800px;}
.h22{height:688.000000px;}
.h1{height:789.000000px;}
.h21{height:833.694200px;}
.h0{height:841.058700px;}
.w18{width:11.450200px;}
.w17{width:12.079100px;}
.w2{width:17.504800px;}
.w11{width:24.029300px;}
.w15{width:48.558600px;}
.w1c{width:56.735000px;}
.w6{width:58.015600px;}
.w12{width:60.508700px;}
.w14{width:64.911300px;}
.w16{width:68.056200px;}
.w13{width:70.571900px;}
.wb{width:71.519200px;}
.w3{width:72.269400px;}
.w1b{width:72.458900px;}
.w5{width:77.520800px;}
.w9{width:81.271800px;}
.w4{width:84.272600px;}
.we{width:90.274200px;}
.w19{width:131.580600px;}
.w7{width:136.036400px;}
.w1a{width:143.530800px;}
.wa{width:157.042000px;}
.wd{width:159.292600px;}
.w8{width:388.853800px;}
.w10{width:464.000000px;}
.wc{width:525.390200px;}
.wf{width:535.983200px;}
.w1{width:545.500000px;}
.w0{width:566.697900px;}
.x6{left:1.750300px;}
.x0{left:6.500000px;}
.x4{left:8.715800px;}
.x15{left:10.472100px;}
.x2{left:12.010000px;}
.x11{left:14.422700px;}
.x13{left:15.670400px;}
.x8{left:17.096800px;}
.x10{left:18.136200px;}
.x12{left:19.592900px;}
.x16{left:22.053300px;}
.xb{left:23.801100px;}
.x3{left:25.455700px;}
.x19{left:26.517600px;}
.x18{left:27.635700px;}
.xc{left:28.646800px;}
.x17{left:30.388300px;}
.x14{left:34.887900px;}
.xf{left:36.636900px;}
.x22{left:49.679500px;}
.x1c{left:61.629700px;}
.x5{left:98.225100px;}
.x1d{left:122.638400px;}
.xe{left:182.997700px;}
.x23{left:193.710300px;}
.x1a{left:226.490800px;}
.x1{left:229.647500px;}
.x21{left:250.945300px;}
.xd{left:255.016900px;}
.x1e{left:319.501500px;}
.x7{left:336.788700px;}
.x1f{left:384.912800px;}
.x9{left:414.809500px;}
.x20{left:433.971400px;}
.x1b{left:469.252700px;}
.xa{left:473.325100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-170.583467pt;}
._1{margin-left:-126.242133pt;}
.fs3{font-size:26.240000pt;}
.fs1{font-size:32.000000pt;}
.fs7{font-size:35.200000pt;}
.fs6{font-size:39.680000pt;}
.fs4{font-size:42.240000pt;}
.fs8{font-size:44.160000pt;}
.fs2{font-size:47.360000pt;}
.fs5{font-size:53.120000pt;}
.fs0{font-size:63.360000pt;}
.y59{bottom:1.000000pt;}
.y4f{bottom:2.130133pt;}
.y5b{bottom:2.130267pt;}
.y18{bottom:2.331467pt;}
.y19{bottom:2.331600pt;}
.y6{bottom:2.643067pt;}
.ya{bottom:2.643200pt;}
.yc{bottom:3.473600pt;}
.y8{bottom:3.473733pt;}
.y16{bottom:6.848267pt;}
.y4d{bottom:7.001067pt;}
.y2b{bottom:7.678800pt;}
.y44{bottom:8.146000pt;}
.y3c{bottom:8.717067pt;}
.y32{bottom:8.717200pt;}
.y23{bottom:9.184400pt;}
.y51{bottom:17.088800pt;}
.y69{bottom:35.597733pt;}
.y79{bottom:38.108267pt;}
.y14{bottom:38.442933pt;}
.y30{bottom:40.779067pt;}
.y74{bottom:47.820933pt;}
.y0{bottom:56.000000pt;}
.y4{bottom:59.728533pt;}
.y49{bottom:74.000000pt;}
.y78{bottom:75.923733pt;}
.y37{bottom:89.040133pt;}
.y48{bottom:91.581200pt;}
.y57{bottom:96.590800pt;}
.y7e{bottom:101.777200pt;}
.y36{bottom:103.729333pt;}
.y47{bottom:115.877333pt;}
.y1d{bottom:120.811867pt;}
.y7d{bottom:137.032000pt;}
.y46{bottom:140.173333pt;}
.y43{bottom:152.321467pt;}
.y45{bottom:164.469467pt;}
.y7c{bottom:167.586000pt;}
.y42{bottom:176.617467pt;}
.y7b{bottom:177.770800pt;}
.y41{bottom:200.913600pt;}
.y7a{bottom:205.191200pt;}
.y77{bottom:215.375867pt;}
.y76{bottom:232.611600pt;}
.y40{bottom:240.161067pt;}
.y75{bottom:242.796400pt;}
.y73{bottom:252.981200pt;}
.y3f{bottom:264.457067pt;}
.y3e{bottom:276.605067pt;}
.y3b{bottom:288.753200pt;}
.y3d{bottom:300.901200pt;}
.y3a{bottom:313.049200pt;}
.y39{bottom:325.197200pt;}
.y38{bottom:360.706800pt;}
.y2f{bottom:372.854933pt;}
.y35{bottom:392.478533pt;}
.y34{bottom:427.053733pt;}
.y31{bottom:439.201733pt;}
.y68{bottom:450.407733pt;}
.y33{bottom:451.349733pt;}
.y72{bottom:460.592533pt;}
.y1c{bottom:463.497733pt;}
.y71{bottom:470.777200pt;}
.y70{bottom:480.961867pt;}
.y2e{bottom:484.056000pt;}
.y6f{bottom:501.331200pt;}
.y6a{bottom:511.516000pt;}
.y2d{bottom:524.237867pt;}
.y6e{bottom:528.751600pt;}
.y6d{bottom:538.936267pt;}
.y2a{bottom:543.861600pt;}
.y2c{bottom:556.009733pt;}
.y6c{bottom:556.172000pt;}
.y29{bottom:567.223200pt;}
.y6b{bottom:583.592400pt;}
.y56{bottom:596.127333pt;}
.y28{bottom:597.126000pt;}
.y67{bottom:614.929867pt;}
.y66{bottom:625.114667pt;}
.y27{bottom:637.308000pt;}
.y65{bottom:644.700533pt;}
.y26{bottom:670.014267pt;}
.y64{bottom:674.471333pt;}
.y5f{bottom:684.656000pt;}
.y25{bottom:684.965600pt;}
.y22{bottom:699.917067pt;}
.y63{bottom:705.025467pt;}
.y24{bottom:712.065067pt;}
.y62{bottom:715.210133pt;}
.y21{bottom:725.147600pt;}
.y61{bottom:734.012667pt;}
.y20{bottom:743.836800pt;}
.y1f{bottom:763.460533pt;}
.y60{bottom:763.783333pt;}
.y58{bottom:773.968000pt;}
.y1e{bottom:784.018800pt;}
.y5e{bottom:791.203733pt;}
.y13{bottom:796.166800pt;}
.y5d{bottom:801.388400pt;}
.y1b{bottom:816.724933pt;}
.y5c{bottom:818.624133pt;}
.y5a{bottom:846.044400pt;}
.y1a{bottom:849.431200pt;}
.y50{bottom:856.229200pt;}
.y15{bottom:861.579200pt;}
.y17{bottom:872.792800pt;}
.y55{bottom:873.464800pt;}
.y3{bottom:882.137333pt;}
.y54{bottom:900.101733pt;}
.y12{bottom:902.695600pt;}
.y53{bottom:927.522133pt;}
.y11{bottom:935.401867pt;}
.y52{bottom:954.159067pt;}
.y4c{bottom:963.560267pt;}
.y10{bottom:968.108000pt;}
.y4e{bottom:980.796000pt;}
.yf{bottom:1000.814267pt;}
.ye{bottom:1012.962267pt;}
.yd{bottom:1029.782667pt;}
.yb{bottom:1041.930667pt;}
.y9{bottom:1062.488800pt;}
.y7{bottom:1074.636800pt;}
.y4b{bottom:1081.972667pt;}
.y2{bottom:1086.339333pt;}
.y5{bottom:1095.195067pt;}
.y4a{bottom:1098.424933pt;}
.y1{bottom:1105.963067pt;}
.hb{height:8.677867pt;}
.h18{height:8.678000pt;}
.h28{height:8.734533pt;}
.h29{height:8.734667pt;}
.h25{height:9.518000pt;}
.h2d{height:9.518133pt;}
.h1b{height:10.546800pt;}
.hd{height:10.546933pt;}
.h5{height:11.481333pt;}
.h1c{height:11.481467pt;}
.h35{height:11.868267pt;}
.h14{height:12.415867pt;}
.h16{height:14.284667pt;}
.h15{height:14.284800pt;}
.h9{height:16.153733pt;}
.h2e{height:16.569067pt;}
.h12{height:18.022533pt;}
.h30{height:18.135867pt;}
.h32{height:18.919200pt;}
.h11{height:18.957067pt;}
.h17{height:18.957200pt;}
.h8{height:19.891467pt;}
.h6{height:19.891600pt;}
.h1a{height:22.694933pt;}
.h19{height:23.024062pt;}
.hc{height:23.305937pt;}
.h20{height:23.629333pt;}
.h1e{height:23.629467pt;}
.h13{height:24.563867pt;}
.h24{height:26.753733pt;}
.h10{height:28.078125pt;}
.h4{height:28.421875pt;}
.h2b{height:31.264062pt;}
.h27{height:35.243125pt;}
.hf{height:37.516875pt;}
.h39{height:39.222187pt;}
.h7{height:41.555625pt;}
.h23{height:46.609688pt;}
.h2{height:55.594687pt;}
.h36{height:60.441600pt;}
.h2c{height:81.594533pt;}
.h34{height:83.944667pt;}
.ha{height:85.303867pt;}
.h31{height:87.862000pt;}
.h2f{height:88.645333pt;}
.h1d{height:89.976267pt;}
.h26{height:106.664400pt;}
.h38{height:138.785467pt;}
.h33{height:145.052933pt;}
.h37{height:196.759867pt;}
.h3{height:224.539067pt;}
.h2a{height:259.435200pt;}
.h1f{height:268.458933pt;}
.he{height:332.002400pt;}
.h22{height:917.333333pt;}
.h1{height:1052.000000pt;}
.h21{height:1111.592267pt;}
.h0{height:1121.411600pt;}
.w18{width:15.266933pt;}
.w17{width:16.105467pt;}
.w2{width:23.339733pt;}
.w11{width:32.039067pt;}
.w15{width:64.744800pt;}
.w1c{width:75.646667pt;}
.w6{width:77.354133pt;}
.w12{width:80.678267pt;}
.w14{width:86.548400pt;}
.w16{width:90.741600pt;}
.w13{width:94.095867pt;}
.wb{width:95.358933pt;}
.w3{width:96.359200pt;}
.w1b{width:96.611867pt;}
.w5{width:103.361067pt;}
.w9{width:108.362400pt;}
.w4{width:112.363467pt;}
.we{width:120.365600pt;}
.w19{width:175.440800pt;}
.w7{width:181.381867pt;}
.w1a{width:191.374400pt;}
.wa{width:209.389333pt;}
.wd{width:212.390133pt;}
.w8{width:518.471733pt;}
.w10{width:618.666667pt;}
.wc{width:700.520267pt;}
.wf{width:714.644267pt;}
.w1{width:727.333333pt;}
.w0{width:755.597200pt;}
.x6{left:2.333733pt;}
.x0{left:8.666667pt;}
.x4{left:11.621067pt;}
.x15{left:13.962800pt;}
.x2{left:16.013333pt;}
.x11{left:19.230267pt;}
.x13{left:20.893867pt;}
.x8{left:22.795733pt;}
.x10{left:24.181600pt;}
.x12{left:26.123867pt;}
.x16{left:29.404400pt;}
.xb{left:31.734800pt;}
.x3{left:33.940933pt;}
.x19{left:35.356800pt;}
.x18{left:36.847600pt;}
.xc{left:38.195733pt;}
.x17{left:40.517733pt;}
.x14{left:46.517200pt;}
.xf{left:48.849200pt;}
.x22{left:66.239333pt;}
.x1c{left:82.172933pt;}
.x5{left:130.966800pt;}
.x1d{left:163.517867pt;}
.xe{left:243.996933pt;}
.x23{left:258.280400pt;}
.x1a{left:301.987733pt;}
.x1{left:306.196667pt;}
.x21{left:334.593733pt;}
.xd{left:340.022533pt;}
.x1e{left:426.002000pt;}
.x7{left:449.051600pt;}
.x1f{left:513.217067pt;}
.x9{left:553.079333pt;}
.x20{left:578.628533pt;}
.x1b{left:625.670267pt;}
.xa{left:631.100133pt;}
}
